:host {
    display: block;
    min-height: 100vh;
    background-color: var(--background-color);
}

.animation-slide-up {
    animation: slideUp 0.3s ease-out;
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}